* {
  padding: 0px;
  margin: 0px;
}
header {
  display: flex;
  position: sticky;
  top: 0px;
  border-top: solid 5px #16423c;
  border-bottom: solid 2px #98ded9;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  justify-content: center;
  font-family: suse;
  gap: 20px;
  background-color: #6a9c89;
  color: white;
  font-size: 20px;
}
body {
  background-color: #c4dad2;
}
.call-us {
  transition: background-color 0.5s;
}
.call-us:hover {
  background-color: aliceblue;
  color: black;
  cursor: pointer;
}
.about-us {
  transition: background-color 0.5s;
}
.about-us:hover {
  background-color: aliceblue;
  color: black;
  cursor: pointer;
}
.more-info {
  transition: background-color 0.5s;
}
.more-info:hover {
  background-color: aliceblue;
  color: black;
  cursor: pointer;
}
.home {
  transition: background-color 0.5s;
}
.home:hover {
  background-color: aliceblue;
  color: black;
  cursor: pointer;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #e9efec;
  margin-left: 70px;
  margin-right: 70px;
  border-radius: 10px;
  margin-top: 10px;
  font-family: suse;
}

.Info {
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: solid 1px;
  border-radius: 5px;
  padding: 5px;
}
img {
  width: 250px;
  border-radius: 10px;
}
footer {
  display: flex;
  background-color: #6a9c89;
  justify-content: space-between;
  padding: 20px;
  margin-top: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.left {
  display: flex;
  flex-direction: column;
  font-family: suse;
}
.tell-image img {
  width: 40px;
  transition: background-color 3s;
}
.tell-image img:hover {
  background-color: rgb(47, 171, 234);
  cursor: pointer;
}
.inst-image img {
  width: 40px;
  transition: background-color 3s;
}
.inst-image img:hover {
  background-color: rgb(174, 73, 246);
  cursor: pointer;
}
.inst-image {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.tell-image {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.right {
  width: 500px;
  font-family: suse;
  border-left: solid 3px #16423c;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-left: 4px;
}
.l-top {
  margin-bottom: 2px;
}
